@page "/About"
@inject ITypeData typeData

<PageTitle>About Us</PageTitle>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BikePlease</a>
        <a class="btn btn-primary btn-login" href="/MicrosoftIdentity/Account/SignIn">
                Login
        </a>
    </div>

</div>

<div class="container-fluid wrapper">
    <div class="main-content">

        @if(types is not null)
        { 
            <div class="row section-header">                
                <h2>About Us</h2>
                <p>We are a local company that provides bike rental services. We operate in the area of polish seaside.</p>
            </div> 
            <div class="row section-header">                
                <h2>Our Bikes</h2>
                <p>You can choose from a variety of bikes, depending on what you need. All available options are listed below.</p>
            </div>            
            <Virtualize Items="@types" Context="t" OverscanCount="5">
                <div class="row type-entry">                
                    <div class="row type-title">
                        <h3>@t.Name</h3>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <img class="img-fluid type-image" src="/Images/@t.PictureName" alt="@t.Name">
                        </div>                        
                    </div>
                    <div class="row justify-content-center type-description">
                        <div class="col-10">
                            <p>@t.Description</p> 
                            <p><b>Price:</b> @t.Price zł/h</p>
                        </div>                        
                    </div>                                    
                </div>
            </Virtualize>
        }
    </div>    
</div>

@code {
    private List<TypeModel> types;

    protected async override Task OnInitializedAsync()
    {
        types = await typeData.GetAllTypes();
    }
}
